.header {
    display: flex;
    height: 4rem;
    align-items: center;
    width: 100vw;
    border: 1px solid rgba(0,0,0,0.05);
}

.header h1 {
    margin-left: 0.5rem;
    margin-right: 3rem;
    font-size: larger;
}

.month-title {
    font-size: larger;
    font-weight: bold;
}

.logo {
    height: 3rem;
    width: 3rem;
    margin-left: 3rem;
}

.icon {
    background-color: transparent;
}

.today {
    border-radius: 5px;
    padding: 0.5rem 1.2rem;
    margin-right: 2.5rem;
    background-color: white;
    border: 1px solid gray;
    cursor: pointer;
    font-weight: bold;
}

.today:hover {
    background-color: rgba(204, 204, 204, 0.304);
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
}

.month {
    margin-left: 0.5rem;
    font-weight: bold;
}

.filler {
    flex: 1;
}

.auth {
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 1rem;
    cursor: pointer;
}

.auth:hover {
    background-color: rgb(2, 126, 250);
    border-color: rgb(2, 126, 250);
}

.dropdown {
    outline: none;
    /* appearance: none; */
    text-align: center;
    padding: 0.5rem 1rem;
    margin-right: 2rem;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.322);
    border-radius: 4px;
    font-weight: bold;
}