.container {
  margin-top: 1rem;
  box-sizing: border-box;
}

.month-title {
  font-size: medium;
  font-weight: bold;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
}

.day-letter {
  font-size: small;
  font-weight: bolder;
  justify-self: center;
}

.day {
  margin: 0.5rem 0.3rem;
  padding: 0.4rem 0.1rem;
  background-color: white;
  border-width: 0;
  cursor: pointer;
}

.day span {
  font-size: smaller;
  font-weight: bold;
}

.current-day, .selected-day {
  background-color: dodgerblue;
  color: white;
  border-radius: 50%;
  font-weight: bold;
}

.selected-day {
    background-color: rgba(9, 100, 238, 0.2);
    transition: 200ms linear;
}

.selected-day:hover {
    background-color: rgba(9, 100, 238, 0.4);
    
}
