.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: rgba(0,0,0,0.1);
}

.auth {
  margin: 10rem auto;
  width: 95%;
  max-width: 25rem;
  height: 25rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color: black;
  display: block;
}

.auth h1 {
  text-align: center;
  color: black;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: black;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: dodgerblue;
  border: 1px solid dodgerblue;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: rgb(0, 124, 248);
  border-color: rgb(0, 124, 248);
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: dodgerblue;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: rgb(0, 124, 248);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem 1rem;
  border-width: 0;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding: 0.3rem;
}

.close span {
    font-size: xx-large;
}

.close:hover {
  background-color: inherit;
}
